.tab-content{
  flex: 0 0 100%;
  max-width: 100%;
}

.experience{
  padding-bottom: 80px;
}

.timeline{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.timeline::before{
  background-color: var(--bg-black-100);
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  position: absolute;
}

.timeline .timeline-item{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.timeline .timeline-item:nth-child(odd){
  padding-right: calc(50% + 50px);
  text-align: right;
}

.timeline .timeline-item:nth-child(even){
  padding-left: calc(50% + 50px);
}

.timeline .timeline-item-inner{
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.timeline .timeline-item-inner::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: var(--bg-black-100);
  top: 37px;
}

.timeline .timeline-item:nth-child(odd) .timeline-item-inner::before{
  right: -30px;
}

.timeline .timeline-item:nth-child(even) .timeline-item-inner::before{
  left: -30px;
}

.timeline .timeline-item-inner .icon{
  background-color: var(--bg-black-50);
  border: 1px solid var(--bg-black-100);
  border-radius: 50%;
  color: var(--skin-color);
  font-size: 16px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 18px;
}

.timeline .timeline-item:nth-child(odd) .icon{
  right: -70px;
}

.timeline .timeline-item:nth-child(even) .icon{
  left: -70px;
}

.timeline .timeline-item-inner span{
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.timeline .timeline-item-inner h3{
  font-size: 20px;
  color: var(--text-black-700);
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.timeline .timeline-item-inner h4{
  font-size: 16px;
  font-style: italic;
  color: var(--text-black-600);
  margin: 0;
}

.timeline .timeline-item-inner p{
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}